.greeting {
  display: flex;
  align-items: center;
  justify-content: center;
}

.greeting__container {
  padding: 20px 25px;
  border: 1px solid wheat;
  border-radius: 10px;
  background-color: blanchedalmond;
  font-size: 20px;
}

.greeting--morning {
  color: yellow;
}

.greeting--day {
  color: green;
}

.greeting--evening {
  color: blue;
}
