.country__container {
  box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  width: 200px;
  font-size: 10px;
}

.country__img {
  width: 200px;
  height: 100px;
  border-radius: 4px;
  object-fit: cover;
}

.country__info{
  margin: 20px;
}
