.countries__container{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.countries__filter{
  display: flex;
  justify-content: space-between;
}

.main__country-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px 40px;
  margin: 0 auto;
}

.main__headear {
  box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
}

.header__container {
  margin: 20px auto;
  width: 920px;
  display: flex;
  justify-content: space-between;
}

.header__theme{
  display: flex;
  align-items: center;
  gap: 10px;
}

.country__container {
  box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  width: 200px;
  font-size: 10px;
}

.country__img {
  width: 200px;
  height: 100px;
  border-radius: 4px;
  object-fit: cover;
}

.country__info {
  margin: 20px;
}
